@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    appearance: none;
    width: 0.25rem;
    height: 0.25rem;
    background: #ffebcd;
  }

  ::-webkit-scrollbar-thumb {
    background: #b90402;
    border-radius: 0.25rem;
    padding: 0.125rem;
  }
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #000;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 100%;
  padding: 20px 5rem;
}
