* {
    /* border: solid 1px black; */
}

.header {
    width: 100%;
    height: 8rem;
    background: #E14D4D;
}

.content {
    width: 100%;
    padding: 20px 5rem;
}

.flex {
    display: flex;
    justify-content: space-around;
    padding: 30px 35px;
}

.store-name {
    width: 40%;
    text-align: start;
    font-size: 48px;
    color: #FFFFFF;
}

.menu {
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 80px;
}

.menu-list {
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    padding: 5px;
}

.menu-list:hover {
    background-color: blanchedalmond;
    color: black;
}